@font-face {
   font-family: '28 Days Later';
   font-display: swap;
   src: url('file:///C:/Users/DIOFER%20DHEIN/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-01_231409/fonts/28%20Days%20Later/font.ttf');
}
